.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(dice.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(survey.jpeg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(pexel.jpg);
}
